@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to renrenlearn.com <a href="https://renrenlearn.com">building Web apps with ASP.NET Core</a>.</p>
    <h1>@ViewBag.Setting</h1>
    <h1>@ViewBag.Log</h1>
</div>
